.container-1 {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#profile {
    margin-top: 20px;
}

#profile div {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

#profile h2 {
    color: #007bff;
}

#profile p {
    margin: 10px 0;
}

#profile p:first-child {
    margin-top: 0;
}

#profile p:last-child {
    margin-bottom: 0;
}