/* signup.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e2fff4;
    /* Background color */
    margin: 0;
    padding: 0;
}

.container {
    width: 30%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #2B3C38;
    /* Text color */
}

form {
    margin-bottom: 20px;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #2B3C38;
    /* Text color */
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#gender {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

#signup {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    /* Text color */
}